<div class="bg-black m-20">
<div class=" center rounded overflow-hidden shadow-lg relative">
  <img class="m-10  " src="https://www.sephora.fr/on/demandware.static/-/Sites-siteCatalog_Sephora_FR/default/dwca7d2c5b/category_banners/SN-5799-FR-PLPBANNER.jpg">
  <div class="absolute left-14 top-10  mt-6">
  <h1 class="text-3xl">PARFUM</h1>
  <br>
  <p class="text-xl">
L'idée cadeau la plus envoutante pour la fête des mères : un parfum femme ! <br>Celui qu'elle porte depuis toujours et qui vous fait chavirer ; <br>une nouvelle fragrance à lui faire découvrir pour une nouvelle touche de sensualité,<br> de féminité, de liberté... De l’eau de toilette à l’eau de parfum :<br> notre sélection de best-sellers et de nouveautés !<br></p>
  </div>
</div>
</div>