<div class="bg-black m-20">
<div class=" center rounded overflow-hidden shadow-lg relative">
  <img class="m-10  " src="https://www.sephora.fr/on/demandware.static/-/Sites-siteCatalog_Sephora_FR/default/dwef07eec9/category_banners/Corps&Bain/Estore20_TopCat_BATH_AND_BODY_Web.jpg">
  <div class="absolute left-14 top-10  mt-6">
  <h1 class="text-3xl">Corps & Bain</h1>
  <br>
  <p class="text-xl">
Pour une peau nettoyée, parfumée, et qui rayonne de beauté, on découvre les produits<br>
Corps & Bain. Soin du corps, savon, déodorant... Sephora réunit les meilleures marques<br>
pour prendre soin de soi. On craque pour une crème hydratante onctueuse, une huile<br>
pour le corps ou un gel douche gourmand.<br></p>
  </div>
</div>
</div>