<div class="bg-black m-20">
<div class=" center rounded overflow-hidden shadow-lg relative">
  <img class="m-10  " src="https://www.sephora.fr/on/demandware.static/-/Sites-siteCatalog_Sephora_FR/default/dw68467539/category_banners/Soin_visage/Estore20_TopCat_SKINCARE_Web.jpg">
  <div class="absolute left-14 top-10  mt-6">
  <h1 class="text-3xl">Soin Visage</h1>
  <br>
  <p class="text-xl">
Un teint frais et healthy commence avec une peau en bonne santé. Ultra Beauty propose des soins <br>
visage adaptés à tous les types de peaux. Peau sensible, grasse, mixte ou sèche, faites votre<br>
choix parmi les soins, démaquillants, ou sérums qui redonneront de l'éclat à votre peau.<br>
</p>
  </div>
</div>
</div>